<?php

/**
 * This is the config file for ZfrCors. Just drop this file into your config/autoload folder (don't
 * forget to remove the .dist extension from the file), and configure it as you want
 */

return array(
    'zfr_cors' => array(
         /**
          * Set the list of allowed origins domain with protocol.
          */
         // 'origins' => array('http://exemple.com'),

         /**
          * Set the list of HTTP verbs.
          */
         // 'allowed_methods' => array('GET', 'POST', 'PUT', 'DELETE', 'OPTIONS'),

         /**
          * Set the list of headers.
          */
         // 'allowed_headers' => array('content-type', 'accept'),

         /**
          * Set the max age of the authorize request in seconds.
          */
         // 'max_age' => 10,

         /**
          * Set the list of exposed headers.
          */
         // 'exposed_headers' => array(),

         /**
          * Allow cors request with credential.
          */
         // 'allowed_credentials' => false,
    ),
);
